.add-button{
    position:absolute;
    z-index: 2;
    background-color: gray;
    left:75%;
    border: none;
    outline: none;
    color: white;
    height: 40px;
    width: 80px;
    border-radius: 4px;
    margin-top: 1px;
  }

.Calendar{
  position:absolute;
  z-index: 2;
  width: 1050px;
  height: 900px;
}
.addForm{
  width: 900px;
  height: 900px;
}
.Calendar-modal{
  position: absolute;
  z-index: 3;
}
.section{
 float:right;
}
.label{
  display:inline-block;
  width:100px;
  line-height:50px;
}