
.list-group-item-header {
    background-color: #f1f1f1;
    
}
.list-group-item-header-id {
    font-weight: bold;
}
.list-group-item-header-commit {
    font-size: 12px;
    margin-left: 10px;
   
}
.badge {
    color: black;
}