.page-header {
    position: relative;
    height: 48px;
}
.header-user-id{
    position: absolute;
    top: 12px;
    left:6rem;
    list-style-type: none;
    position:left;
}
.header-user-li{
    float:left;
    margin: 0 15px 0 0;
}
