.page-header {
    position: relative;
    height: 48px;
}
.header-user-id{
    position: absolute;
    top: 12px;
    left:-10rem;
    list-style-type: none;
    position:left;
}
.header-user-li{
    float:left;
    margin: 0 15px 0 0;
}
.log{
    float:right;
    margin-left:80rem;
    margin-top:-1.5rem;
}
.logout{
    margin-right:-9rem;
    margin-top:0rem; 
    float: right;
    color:white;
    font-size:14px;
}
.log{
    display: flex;
    float:right;
    margin-left:112rem;
    margin-top:0rem;
}
/* .login{
    margin-left:-3.5rem;
    margin-top: 1.5rem;
} */
.alarm{
    float:right;
    display:flex;
    width:340px;
    height:913px;
    background-color: #F5F5F5;
    border-radius: 20px;
    border: 1px solid gray;
    text-align: left;
    justify-content: center;
    padding:10px;
    
}
.alarmContent{
    font-size: 22px;
}
.alarmList{
    padding:4px;
}

.onClicked{
    cursor: pointer;
}
.alarmBlock{
    z-index: 999;
    display: block;
}
.alarmNone{
    z-index: 999;
    display: none;
}   
.aria-label{
    float:right;
    border:white;
    justify-content: center;
    text-align: center;
    font-size:5px;
    font-weight:10px;
    
}