.Issue {
    text-align: center;
  }

  .issue-container {
    margin: 0 auto;
    width: 80%;
    border: 1px solid #333;
    padding: 10px 0 30px 0;
    border-radius: 5px;
    margin-bottom : 50px;
  }

  .form-wrapper{
    width: 60%;
    height: 40%;
    margin: 0 auto;
  }
  
  .title-input {
    width: 500px;
    height: 40px;
    margin-bottom: 10px;

  }
  
  .submit-button {
    font-family:arial;
  font-size:16px;
  color: #ffffff;
  text-decoration:none;
  line-height:50px;
  transition:all .5s ease;
  z-index:2;
  position:relative;
  background: #0f4c81;
  width: 200px;
  margin-top:15px;
  float:right;
border-radius: 12px;  
}
  
  .ck.ck-editor__editable:not(.ck-editor__nested-editable) {
    min-height: 500px;
  }