.container {

}
.lf-menu-nav {
    border:none;
    border-top:2px solid lightgray;
    border-bottom:2px solid lightgray;
    
    width: 100%;
    margin-top: 2.5rem;
	  border-collapse: collapse;
    max-width: 950px;
    font-size: 30px;
    
    
}
.lf-contents pd12 {

}
.top-controls {
  

}
.board_list {
    font-size: 20px;
}
.text-left {

}
.text-ellipsis {

}
.text-center {

}
.lf-top-button{
 width:50px;
 height: 30px;
 float: right;
}
 
.lf-button-primary-float-right{
  height: 40px;
  background-color: rgba( 255, 255, 255, 0.5);
  border: 10px solid transparent;

}
svg{
  margin-top: -2.0rem;
}
  



  

