.container {

}
.lf-menu-nav {
    border:none;   
    border-top:2px solid lightgray;
    border-bottom:2px solid lightgray;
    width: 100%;
	  border-collapse: collapse;
    max-width: 950px;
    font-size: 20px;
  
    
}
.lf-contents pd12 {

}
.top-controls {

}
.board_list text-center {
    
}
.text-left {

}
.text-ellipsis {

}