html,
body {
  height: 100%;
}
.login-body-back {
    height: 100%;
    background-image: url("../img/projectImg.png");
    background-repeat: no-repeat;
    background-size: cover;
    
    
  
}
.login-body {
 height: 100%;
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color:rgba(0, 0, 0, 0.2);

 
}

.form-signin {
  background-color: rgba(0, 0, 0, 0.2);
border-radius: 25;
  width: 100%;
  max-width: 430px;
  padding: 15px;
  margin: auto;
  border: 1px solid black;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.lf-button-primary-float-right{
  height: 40px;
}
.signup-button{
  margin-top:1rem;
  border:hidden;
  float:right;
  margin-right:1rem;
}
.form-floating>label {
  padding: 0rem 0.5rem;
}